name = "massmurdercanada"
main = "src/index.js"
compatibility_date = "2024-01-01"

[[d1_databases]]
binding = "DB"
database_name = "massmurdercanada"
database_id = "2096de9d-42d1-4430-bd6f-92ff79419f4e"

# Staging - Complete copy of production data, separate database for testing
[env.staging]
name = "massmurdercanada-staging"

[[env.staging.d1_databases]]
binding = "DB"
database_name = "massmurdercanada"
database_id = "2096de9d-42d1-4430-bd6f-92ff79419f4e"

# Production
[env.production]
name = "massmurdercanada"
routes = [
  { pattern = "massmurdercanada.org/*", zone_name = "massmurdercanada.org" },
  { pattern = "www.massmurdercanada.org/*", zone_name = "massmurdercanada.org" }
]

[[env.production.d1_databases]]
binding = "DB"
database_name = "massmurdercanada-prod"
database_id = "abc87d82-e184-4c27-b971-f36fa4784a79"

